# Compiled Object files
*.slo
*.lo
*.o


# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la

#python
*.log
*.pot
*.pyc
local_settings.py

#perso
trunk/mgf/
#*.mgf
!file_test.mgf
*.arp
*.vim
build
lib
/examples/libharpe-algo.dll
/examples/basic.exe
